<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo List with TS, EXPRESS & EJS</title>
    </head>
    <body>
        <h1>
            ToDo List
        </h1>
         
        <h3>
            Tasks
        </h3>

        <ul>
            <li>
                Title | <a href="#">Completed</a>
            </li>
            <li>
                <s>Title</s> | <a href="#">Delete</a>
            </li>
        </ul>
    </body>
</html>